prefix-dashboard {
  height: 100%;
}
prefix-dashboard > div,
prefix-dashboard > div > div,
prefix-dashboard prefix-dashboard-item {
  height: 100%;
}
prefix-dashboard prefix-dashboard-item {
  display: block;
  position: relative;
  overflow-y: auto;
}
prefix-dashboard-grid {
  display: block;
}
prefix-dashboard-grid > div {
  padding-bottom: 15px;
}
prefix-dashboard-grid .content-wrapper {
  position: relative;
  padding: 15px 7.5px 0 7.5px;
}
prefix-dashboard-grid .content {
  position: relative;
  overflow-y: auto;
  height: 100%;
  border-radius: 3px;
  padding: 10px;
}
prefix-dashboard-grid .content:hover {
  border: 1px dashed #383838;
  margin: -1px;
}
prefix-dashboard-window-container {
  position: absolute;
  height: 10px;
  width: 10px;
  background: gray;
  left: 0;
  top: 0;
}
prefix-dashboard-window-container .modal-dialog {
  position: fixed;
  top: 200px;
}
