<div class="carousel slide">
    <div class="carousel-inner">
        <div class="item"
             ng-class="{'active': dashboard.isActive, 'next': dashboard.next, 'prev': dashboard.prev}"
             ng-repeat="dashboard in ctrl.dashboards">

            <!--<div ng-if="dashboard.isActive">-->

            <div style="display: none;"> {{ isActive = true }} </div>
            <ng-view ng-if="isActive" class="col-xs-12"></ng-view>
            {{$index}}

            <prefix-dashboard-grid class="row"></prefix-dashboard-grid>

            <prefix-dashboard-window-container></prefix-dashboard-window-container>

            <!--</div>-->

        </div>
    </div>
</div>
