<div class="carousel slide">
    <div class="carousel-inner">
        <div class="item"
             ng-class="{'active': dashboard.isActive, 'next': dashboard.next, 'prev': dashboard.prev}"
             ng-repeat="dashboard in ctrl.dashboards">

            <!--<h3>{{dashboard.title}}</h3>
            <p>Content</p>-->


            <!--<div ng-if="dashboard.isActive">-->

            <!--<div style="display: none;"> {{ isActive = true }} </div>
            <ng-view class="col-xs-12"></ng-view>-->

            <ng-view class="col-xs-12" ng-if="dashboard.isActive"></ng-view>

            <prefix-dashboard-grid
                class="row"
                widgets-provider="dashboard">
            </prefix-dashboard-grid>

            <prefix-dashboard-window-container
                widgets-provider="dashboard">
            </prefix-dashboard-window-container>

            <!--</div>-->

        </div>
    </div>
</div>
