<div class="container-fluid">

  <!--<div class="content-wrapper col-sm-12 col-md-8 col-lg-6" style="height: {{(ctrl.layoutService.height - 30)/ctrl.itemsPerRow}}px">
  <div class="content">
  Other Title
  </div>
  </div>
  <div class="content-wrapper col-sm-12 col-md-4 col-lg-6" style="height: {{(ctrl.layoutService.height - 30)/ctrl.itemsPerRow}}px">
  <div class="content">
  Other Title
  </div>
  </div>-->

  <div ng-repeat="widget in ctrl.gridWidgets"
       ng-if="widget.type === 'grid'"
       class="content-wrapper col-sm-6 col-md-4 col-lg-4"
       style="height: {{(ctrl.layoutService.height - 30)/ctrl.itemsPerRow}}px">

    <div class="content">
      <h5 ng-if="widget.name">
        {{widget.name}}
      </h5>
      <msw-widget-placeholder
          directive-name="widget.content">
        <!-- The directive provided from dashboard -->
      </msw-widget-placeholder>
    </div>

  </div>

</div>
